.scroll{
    overflow-y: scroll;
    height: 500px;
    width: 100%;
    margin-top: 20px;
    border-radius: 15px;
}
.scroll::-webkit-scrollbar {
    width: 5px;
    border-radius: 15px;
}
.scroll::-webkit-scrollbar-track {
    background: #5273d7;
}
.scroll::-webkit-scrollbar-thumb {
    background: #0c1de1;
}